@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth; }

body {
  font-size: 12px;
  background-color: black; }

::-webkit-scrollbar {
  width: 1em; }

::-webkit-scrollbar-track {
  background: black; }

::-webkit-scrollbar-thumb {
  background: #333333; }

.container-info {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .info section {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .info section h1 {
      font-family: "Aleo";
      font-weight: 600;
      color: white;
      font-size: 4em; }
    .info section h2 {
      font-family: "Aleo";
      font-weight: 400;
      color: white;
      font-size: 5em; }
      .info section h2 span {
        color: #C4A0CC; }
      .info section h2 a {
        color: #ABD8C9; }
    .info section h3 {
      font-family: "Roboto", "sans-serif";
      font-weight: 300;
      color: white;
      font-size: 2em; }
    .info section ul {
      width: 30em;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0; }
  .info aside {
    width: 40em;
    height: 40em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr); }
    .info aside .circle-dotted {
      width: 27em;
      height: 27em;
      border: 0.2em dashed white;
      z-index: 1;
      grid-column: 1 / 6;
      grid-row: 3 / 8;
      border-radius: 50%;
      box-sizing: border-box; }
    .info aside .circle-1 {
      width: 2em;
      height: 2em;
      background-color: #ABD8C9;
      border-radius: 50%;
      z-index: 2;
      grid-column: 1 / 2;
      grid-row: 8 / 9; }
    .info aside .circle-2 {
      width: 4em;
      height: 4em;
      background-color: #C4A0CC;
      border-radius: 50%;
      z-index: 3;
      grid-column: 8 / 9;
      grid-row: 2 / 3; }
    .info aside .photo {
      height: 100%;
      grid-column: 2 / 9;
      grid-row: 2 / 9; }

.btn-about, .btn-contact-info, .btn-portfolio {
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  color: white;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none; }
  .btn-about:hover, .btn-contact-info:hover, .btn-portfolio:hover {
    color: #C4A0CC;
    transition: color, 0.6s ease 0.2s; }

.about-me {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .about-me h2 {
    width: 50%;
    font-family: "Aleo";
    font-weight: 600;
    color: white;
    font-size: 3em; }
  .about-me section {
    justify-content: center;
    width: 50%; }
    .about-me section p {
      font-family: "Roboto", "sans-serif";
      font-weight: 300;
      color: white;
      font-size: 1.4em;
      line-height: 1.3em;
      margin-bottom: 2em; }
      .about-me section p span {
        color: #C4A0CC; }
    .about-me section .btn-cv-contact {
      display: flex;
      flex-direction: row;
      width: 32em;
      justify-content: space-between; }
      .about-me section .btn-cv-contact .btn-cv {
        border: none;
        font-family: "Aleo";
        font-weight: 600;
        font-size: 1.5em;
        padding: 0.5em 2em;
        background-color: #C4A0CC;
        color: black;
        text-decoration: none;
        cursor: pointer; }
        .about-me section .btn-cv-contact .btn-cv:hover {
          background-color: #885294;
          color: white;
          transition: background-color, color, 0.6s ease 0.2s; }
      .about-me section .btn-cv-contact .btn-contact {
        border: none;
        font-family: "Aleo";
        font-weight: 600;
        font-size: 1.5em;
        padding: 0.5em 2em;
        background-color: white;
        color: black;
        text-decoration: none;
        cursor: pointer; }

.skills {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .skills .all-skills {
    display: grid;
    grid-template-columns: 38% 24% 38%;
    grid-template-rows: repeat(4, 1fr); }
    .skills .all-skills .circle-skills {
      width: 30em;
      height: 30em;
      background-color: transparent;
      border: 0.2em solid white;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box; }
    .skills .all-skills h2 {
      font-family: "Aleo";
      font-weight: 600;
      color: white;
      font-size: 3em;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      justify-self: center; }
    .skills .all-skills img {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      justify-self: center;
      align-self: end; }
    .skills .all-skills p {
      font-family: "Aleo";
      font-weight: 300;
      color: white;
      font-size: 1.4em;
      text-align: center; }
    .skills .all-skills .design-skills {
      grid-column: 1 / 2;
      grid-row: 2 / 5;
      justify-self: end; }
    .skills .all-skills .frontend-skills {
      grid-column: 3 / 4;
      grid-row: 1 / 4; }

.portfolio {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .portfolio h2 {
    font-family: "Aleo";
    font-weight: 600;
    color: white;
    font-size: 3em;
    align-self: flex-start; }
  .portfolio .all-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh; }
    .portfolio .all-work .each-work {
      display: flex;
      width: 32%;
      height: 45%;
      background-color: #C4C4C4;
      border-top-left-radius: 2em;
      border-top-right-radius: 2em;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top; }
      .portfolio .all-work .each-work .all-btn-work {
        display: flex;
        width: 100%;
        align-self: flex-end; }
        .portfolio .all-work .each-work .all-btn-work .btn-work {
          border-style: none;
          padding: 0;
          width: 50%;
          height: 2em;
          outline: none;
          cursor: pointer;
          font-family: "Aleo";
          font-weight: 600;
          color: black;
          font-size: 1.4em; }
        .portfolio .all-work .each-work .all-btn-work .btn-docs {
          background-color: #C4A0CC; }
        .portfolio .all-work .each-work .all-btn-work .btn-link {
          background-color: #ABD8C9; }
    .portfolio .all-work .work-1 {
      background-image: url("../img/credit-card-validation.JPG"); }
    .portfolio .all-work .work-2 {
      background-image: url("../img/data-lovers.JPG"); }
    .portfolio .all-work .work-3 {
      background-image: url("../img/voz-amiga.JPG"); }
    .portfolio .all-work .work-4 {
      background-image: url("../img/md-links.jpg");
      background-position: left; }
    .portfolio .all-work .work-5 {
      background-image: url("../img/burger-queer.JPG"); }
